# all compiled source
bin/*
lib/*
doc/*
tools/bin/*
*.cu.o

# all build system files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
Doxyfile

# all recorded sample data
*.raw

# matlab files
*.asv
*.mat

# KDevelop
.kdev4
.kdev_include_paths
shannon.kdev4

# Backup files created by winmerge
*.bak
