# all compiled source
bin/*
lib/*
doc/*
tools/bin/*
*.cu.o

# all build system files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
Doxyfile

# all recorded sample data
*.raw

# KDevelop
.kdev4
shannon.kdev4
