# all compiled source
bin/*
lib/*
doc/*
tools/bin/*
*.cu.o

# all build system files
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
Doxyfile

# Only ignore Makefiles that CMake generates
/Makefile
src/Makefile
3rd/Makefile
3rd/nedmalloc/Makefile
tools/Makefile


# all recorded sample data
*.raw
